.mota{
    padding-top: 20px;
}
.mota img{
    width: 100%;
}
.mota .content h1{
    width: 70%;
}
.mota .content .noidung{
    padding-top: 4px;
}
.animal{
    padding-top: 100px;
}
.animal h1{
    text-align: center;
}
.animal .row{
    padding-top: 30px;
}
.animal .row img{
    width: 104%;
}